# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth


# Data
*.csv
*.mp4
*.avi
*.dicom
data/
dataset/
dataset_statistics.json
local_config.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model outputs
checkpoints/
outputs/
runs/
logs/
